<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=10.10.10.110\SQLEXPRESS;Initial Catalog=MDBTest;Persist Security Info=True;User Id=XXX;Password=XXXXXX;" providerName="System.Data.SqlClient" />
      <add name="SelectConnectionString" connectionString="Data Source=10.10.10.110\SQLEXPRESS;Initial Catalog=MDBTest;Persist Security Info=True;User Id=XXXX;Password=XXXXXX;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <location path="Content">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
  <location path="device/new">
    <system.web>
      <authorization>
        <allow roles="Write,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="device/multiinsert">
    <system.web>
      <authorization>
        <allow roles="Write,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="simcard/new">
		<system.web>
			<authorization>
				<allow roles="Write,Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="simcard/multiinsert">
    <system.web>
      <authorization>
        <allow roles="Write,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="employee/new">
    <system.web>
      <authorization>
        <allow roles="Write,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="employee/multiinsert">
    <system.web>
      <authorization>
        <allow roles="Write,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="missingapprovals">
    <system.web>
      <authorization>
        <allow roles="Write,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="Public">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Admin/EditChangeLog">
        <system.web>
            <authorization>
                <allow users="370929" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <system.web>
        <compilation debug="true" targetFramework="4.5.2" />
        <httpRuntime targetFramework="4.5" />
        <authentication mode="Forms">
            <forms loginUrl="public/login" name=".mdb" slidingExpiration="true" timeout="2880" />
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
        <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="10">
            <providers>
                <clear />
                <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConnectionString" applicationName="MDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="SqlRoleProvider">
            <providers>
                <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ConnectionString" applicationName="MDB" />
            </providers>
        </roleManager>
        <siteMap>
            <providers>
                <clear />
                <add siteMapFile="web.sitemap" name="AspNetXmlSiteMapProvider" securityTrimmingEnabled="true" type="System.Web.XmlSiteMapProvider" />
            </providers>
        </siteMap>

      <globalization  culture="da-DK"  uiCulture="da-DK"/>
        <pages theme="Default">
		<controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
      <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/public/error.aspx">
        <error statusCode="404" redirect="~/public/error.aspx?e=404" />
      </customErrors>
    </system.web>
	<system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to HTTPS on different port" enabled="true" stopProcessing="true">
          <match url="*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="mdb"/>
            <add input="{SERVER_PORT}" pattern="80"/>
          </conditions>
          <action type="Redirect" url="https://mdb:8080" redirectType="Found" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>-->
		<!--<httpErrors errorMode="Detailed" defaultResponseMode="ExecuteURL" existingResponse="Replace">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="500" />
			<error statusCode="403" responseMode="File" path="Error403.html" />
			<error statusCode="404" responseMode="ExecuteURL" path="/error.aspx" />
			<error statusCode="500" responseMode="File" path="Error500.html" />
		</httpErrors>-->
	</system.webServer>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>